@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #5F6FFF;
}

::-webkit-scrollbar{
  @apply hidden;
}

.input {
  @apply w-full px-3 py-2 border rounded-md outline-none text-sm 
         focus:ring-1 focus:ring-indigo-400;
}

*{
  font-family: Outfit;
}